body {
    background: url("../img/backgroundmain.png");
    background-size: 100%;

}

.Walking_Tours img{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 157px;
    top: 141px;

}
figcaption {
    color: white;
}