/*background*/
html, body {
    background: url("../img/backgroundmain.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.shadow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

}
/*/background*/
.logo {
    background-image: url("../img/icon.png");
    width: 46px;
    height: 44px;
    float: left;
}
.logo:hover {
    background-image: url("../img/iconhover.png");
    color: coral;
}
a:hover , a {
    color: inherit;
    text-decoration: inherit;
}

/*header*/

.header .left-text {
    color: white;
    display: inline-block;

    text-align: left;
    margin-left: 155px;
    margin-top: 49px;
}
.left-text-text {
    position: relative;
    float: left;
    padding-left: 15px;
}

.header .left-text :hover{
    color: coral;
}

.icon {
    display: inline-block;
    position: relative;
    float: left;
    height: 46px;
    width: 44px;
    margin-top: 5px;
}

#milan {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 29pt;

}

#holidays {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
}

.header .right-text {
    text-align: right;

    color: white;
    display: inline-block;
    position: relative;
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    margin-top: 57px;
    margin-right: 305px;
    /*margin-left: 500px;*/
}
.header .right-text :hover{
    color: coral;
}

/*/header*/





/*mainblock*/
.Shopping_Tours,
.Sightseeing_Tours,
.Food_Tours,
.Bars_\&_Nightlife,
.Art_\&_Architecture,
.Walking_Tours {
    display: inline-block;
    height: 200px;
    width: 308px;

}

.Sightseeing_Tours,
.Food_Tours {
    margin-left: 69px;
}

.Shopping_Tours figure,
.Sightseeing_Tours figure,
.Food_Tours figure,
.Bars_\&_Nightlife figure,
.Art_\&_Architecture figure,
.Walking_Tours figure {
    height: 200px;
    width: 308px;
}

.first-line {
    position: absolute;
    margin-top: 41px;
    margin-left: 157px;

}
.second-line {
    position: absolute;
    margin-top: 346px;
    margin-left: 157px;
}

.Art_\&_Architecture,
.Walking_Tours {
    margin-left: 69px;
}

figcaption {
    color: white;
    margin-top: 22px;
    text-align: center;
    font-size: 18pt;
}
.first-line :hover{
    color: coral;
}

.second-line :hover {
    color: coral;
}

/*/mainblock*/

/*footer*/

.footer {
    display: inline-block;
    position: absolute;
    left: 512px;
    top: 736px;
    text-align: center;
    color: white;
}
.footer:hover {
    color: coral;
}
/*/footer*/
