html {
    height: 100%; /* Высота страницы */
}

/* NAVIGATION */
/*.p1 {
    display: inline-block;
    margin-left: 200px;
    margin-right: px;
}*/
.navigation {
    font-family: ﻿Roboto-Black, ﻿Courier;
    font-size: 18pt;
    text-align: center;
}
.navigation li {
    display: inline-block;/*делаем горизонт меню*/
    padding: 10px 20px; /* выравниваем отступы*/
}

ul {
    margin: 0; /* выравниваем отступы*/
    padding: 0;
}
a {
    text-decoration: none;  /*убираем подчеркивание*/
    color: #16a085;
    background: linear-gradient(45deg, #16a085 90%, #54b9a6 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* MAIN SECTION */
.img {
    background-image: url(../img1.png); /* Путь к фоновому рисунку */
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    height: 790px;
}
h1 {font-family: ﻿﻿Roboto-Black, Arial;
    font-size: 22pt;
    text-align: center;
    text-transform:uppercase; /* capslock*/
    padding-top: 59px;
}

.maintext{
    background-color: #f5f6f7;
    }
.maintext p {
    font-family: ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    text-align: center;
    padding-left: 113px;
    padding-right: 108px;
}
.p1 {
    padding-top: 51px;
}
.button {
    color: white;
    background: #16a085;
    font-size: 12pt;
    font-family: ﻿Roboto-Black, ﻿Courier;
    border-radius:  5px;
    padding: 23px 45px 18px 45px;
    margin-left: 50%;
    margin-bottom: 94px;
    position: center;

}

/* FOOTER */
.footer {
    font-family: ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
/*    display: inline-block;*/
}
.footer p {
    padding: 47px 104px 45px 768px;
    text-align: right;
    }
 /*   padding-right: 104px ;
    padding-left: 768px;
    padding-top: 47px;
}*/
