/*header*/
.ramda {
    font-size: 80pt;
    color: #4bcaff;
    padding-left: 101px;
    padding-top: 61px;
}
.ramda .ramdablack {
    color: black;
}
/*/header*/

/*navigation*/
.container{
    background: #35444f;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
    text-align: center;
/*    height: 69px;*/
    font-size: 24pt;
}
.navigation li {
    /*height: 69px;*/
    display: inline-block;/*делаем горизонт меню*/
    padding: 20px 20px; /* выравниваем отступы*/
}

.navigation li:hover{
    border: white 1px solid;
    background-color: #222f3a;
    text-align: center;

}

.navigation a {
    text-decoration: none;  /*убираем подчеркивание*/
    color: #ffffff;


}
/*/navigation*/

/*Left-side bar*/
.containera {
    float: left;
}

.containera ul {
    border: #35444f 1px solid;
    margin-left: 100px;
    margin-top: 51px;
}

.leftsidebar li {
/*    height: 69px;*/
    padding: 20px 30px;

}
.containera a {
    text-decoration: none;/*убираем подчеркивание*/
    color: black ;
    font-size: 30pt;
}

.containera li:hover {
    /*border white 1px solid;*/
    background-color: #dbdbdb;
    text-align: center;
    font-weight: bold;
}
/*/Left-side bar*/
/*mainblock*/
img {
    height: 381px;
    width: 320px;
    margin-top: 51px;
    margin-left: 52px;
    padding: 75px 268px 73px 297px;
    border: #35444f 1px solid;
}

p {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-left: 526px;
    margin-top: 50px;
    margin-right: 139px;
}


/*/mainblock*/
/*footer*/
.footer{
    background: #b4b7ba;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;

    height: 69px;

}
.navigation1 li {
    height: 69px;
    display: inline-block;/*делаем горизонт меню*/
    padding: 20px 10px; /* выравниваем отступы*/
}
.navigation1 li:hover {
    text-decoration: underline;
    color: #4bcaff;
    }

.navigation1 a {
    text-align: left;
    font-size: 24pt;
    text-decoration: none;  /*убираем подчеркивание*/
    color: black;
}
.navigation1 a:hover {
    color:#88a5b3;
}
.navigation1 span {
    text-align: right;
    font-size: 12pt;
    margin-left: 50px;
}
/*/footer*/
